@import url(reset.css);
@import url(idiomas.css);
@import url(container.css);
@import url(footer.css);
@import url(questionario.css);
@import url(banner.css);
@import url(dados.css);
@import url(dispositivos.css);

:root{
    --cor-titulo: #FFFFFF;
    --cor-texto-descricao: #F9F9F9;
    --cor-texto-pequeno: #c0c0c0;
    --bg-btn: #FF2E63;
    --fonte-principal: 'Inter', sans-serif;
    --cor-principal: #122432;
    --branco:#fff;
}

body{
    background-color: var(--cor-principal);
    color: var(--cor-titulo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}