@import url(reset.css);
@import url(idiomas.css);
@import url(responsivo.css);
@import url(footer.css);
@import url(questionario.css);
@import url(banner.css);
@import url(dados.css);

:root{
    --cor-titulo: #FFFFFF;
    --cor-texto-descricao: #F9F9F9;
    --cor-texto-pequeno: #c0c0c0;
    --bg-btn: #FF2E63;
    --fonte-principal: 'Inter', sans-serif;
    --cor-principal: #122432;
    --branco:#fff;
}

body{
    background-color: var(--cor-principal);
    color: var(--cor-titulo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    width: 100%;
    background-image: url("../img/SalaPaises.svg");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.875rem;
    font-weight: 700;
}

.container__img{
    margin: 1em 0 2em 0;
}

.container__btn{
    color: var(--cor-titulo);
    background-color: var(--bg-btn);
    line-height: 150%;
    padding: 1em;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
}

.btn-sem-bg{
    background-color: transparent;
    border: 1px solid var(--cor-titulo);
}

.container__aviso{
    color: var(--cor-texto-pequeno);
    font-size: 0.75rem;
    margin-top: 10px;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__img{
    width: 80%;
    margin-right: 69px;
}

.descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cor-texto-descricao);
    line-height: 150%;
}

.secundario__btn{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.nome-dispositivo{
    font-size: 2rem;
    line-height: 120%;
    text-align: center;
}

.dispositivos{
    margin-bottom: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-dispositivos{
    margin-top: 40px;
    display: flex;
}

.img-dispositivo{
    max-width: 339px;
    max-height: 192px;
}