@media (max-width: 1470px){
    main{
        gap: 151px;
        margin-bottom: 151px;
    }

    .plataformas, .baixar-cursos, .dispositivos{
        margin-top: 0;
        margin-bottom: 0;
    }

    .plataformas, .baixar-cursos, .icone-dispositivos, .dispositivos .titulo{
        flex-direction: column;
        margin-left: 16px;
        margin-right: 16px;
    }

    .informacoes{
        align-items: center;
    }

    .titulo, .descricao{
        text-align: center;
    }

    .selecao-combo{
        margin: 125px 16px 0 16px;
        position: initial;
    }

    .img-plataforma{
        max-width: 290px;
        max-height: 352px;
        margin: 0;

    }

    .img-telas{
        width: 290px;
        max-height: 228.96px;
        margin: 0;
        margin-bottom: 24px;
    }

    .img-notebook{
        width: 290px;
        max-height: 176;
        margin: 0;
        margin-bottom: 24px;
    }

    .img-dispositivo{
        max-width: 290px;
        max-height: calc(192px + 49px);
        margin: 0;
    }

    .descricao-plataformas{
        flex-direction: column-reverse;
    }

    .div-dispositivo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width:1820px) {
    .principal{
        background-size: cover;
    }
}